header{
    font-size: xx-large;
    text-align: center;
    color: brown;
}

p,li{
    font-size: large;
}
table {
    width: 100%;
    margin: 20px;
}

a{
    color: blue;
}

h2{
    color: brown;
}
table{
    background-color:beige;
}
body{
    background-color:floralwhite;
}
hr{
    border: 1px solid rgb(75, 26, 26);
}
ul{
    list-style-type:disc;
}
